PORT=5000
CORS_ORIGINS=https://forgepad.finance,https://www.forgepad.finance
DB_DIALECT=mysql
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=forgepad
BSC_RPC_URL=https://bsc-rpc.publicnode.com
USE_LOCAL_STORAGE=true
LOCAL_FILE_URL=http://localhost:5000/uploads
