@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Londrina+Solid:wght@100;300;400;900&display=swap');

body {
  background: #1E1E2F;
  /* min-height: 100vh; */
  font-family: Inter;
  margin: 0;
  /* overflow: overlay !important; */
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

@font-face {
  font-family: Jura;
  src: url("./font/Jura.ttf");
}

@font-face {
  font-family: JosefinSans;
  src: url("./font/JosefinSans.ttf");
}

@font-face {
  font-family: Lato;
  src: url("./font/Lato-Regular.ttf");
}

.App {
  font-family: Inter;
}

main [id^=tradingview_][id$=-wrapper] {
  border-radius: 12px;
  overflow: hidden;
  /* border: 8px solid #2a2e39; */
  background-color: #212121;
}

main .tradingview-widget-copyright {
  display: none;
}

.sidebar {
  width: 212px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #F8FAFC1A;
  /* transition: all 0.8s ease; */
}

.sidebar.minimized {
  align-items: center;
  width: 48px;
  padding: 0 8px;
}

.MuiDialog-root .MuiDialog-paper {
  border-radius: 8px;
  box-shadow: 0px 15px 32px 0px #0000001A;
  background: #1A0D1A;
  border: 1px solid transparent;
  margin: 0;
  width: 100%;
}

.MuiDialog-root .MuiBackdrop-root {
  backdrop-filter: blur(15px);
}

.MuiDialog-root .MuiDialogTitle-root {
  font-size: 24px;
  padding: 32px 24px;
  display: flex;
  justify-content: space-between;
}

.MuiDialog-root .MuiDialogTitle-root {
  background: linear-gradient(90deg, #FF8E08 0.14%, #FDFFB3 11.87%, #FFED4C 23.15%, #FBE4A8 54.37%, #F8D185 74.22%, #E66606 79.32%, #FCF3A0 86.96%, #FF7629 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-fill-color: transparent; */
}

.MuiDialog-root .MuiDialogContent-root {
  padding: 0 24px 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.MuiDialog-root .MuiButton-root {
  padding: 12px;
  border-radius: 16px;
  text-transform: none;
}

.MuiDialog-root .MuiDialogActions-root {
  padding: 0 24px 32px;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.MuiButton-root.MuiButton-colorPrimary {
  background: #FFA600;
  color: black;
  font-family: "Londrina Solid";
  box-shadow: 0px 4px 4px 0px #00000040 inset;
  text-transform: none;
  font-size: 24px;
  border-radius: 4px;
}

.MuiButton-root.MuiButton-colorPrimary:hover {
  background: #FFA600;
  color: black;
  opacity: 0.7;
}

.MuiButton-root.MuiButton-colorSecondary {
  background-color: #FFFFFF1F;
  color: white;
}


.MuiButton-root.Mui-disabled {
  opacity: 0.3;
  color: black !important;
}

@media (max-width: 1280px) {
  body {
    font-size: 13px;
  }
}

@media (max-width: 1520px) {
  body {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 12px;
  }

  .MuiDialog-root .MuiDialog-paper {
    position: absolute;
    bottom: 0;
  }

  .MuiDialog-root .MuiDialogContent-root {
    padding: 0 8px 8px;
  }
}

:root {
  --tv-color-pane-background: #212121;
}

.effect-button {
  backdrop-filter: blur(20px);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.effect-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, #FF9D0015, transparent);
  transition: left 0.8s ease;
}

.effect-button:hover::before {
  left: 100%;
}

.Toastify__toast {
  filter: drop-shadow(0px 0px 4px #FFF3);
}

@keyframes opacity-animation1 {
  0% {
    opacity: .1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: .2;
  }
  80% {
    opacity: .1;
  }
  100% {
    opacity: .1;
  }
}

@keyframes opacity-animation2 {
  0% {
    transform: scaleY(.8);
  }
  25% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(.5);
  }
  75% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(.8);
  }
}

.animation-g1 {
  animation: opacity-animation1 1.2s infinite ease-in-out;
  animation-delay: 0;
  transform: scale(.8);
}

.animation-g2 {
  animation: opacity-animation1 1.2s infinite ease-in-out;
  animation-delay: 0.4s;
  transform: scale(.9);
}

.animation-g3 {
  animation: opacity-animation1 1.2s infinite ease-in-out;
  animation-delay: 0.8s;
}

:host wui-ux-by-reown.branding-only, :host w3m-legal-footer {
  display: none;
}